@tailwind base;
@tailwind components;
@tailwind utilities;



.red{
    color: red;
}

.regist{
    background-color: orange;
}



.delete{
color: white;
background-color: red;
}

/* ページ送りを中央寄せ */
.pagination {
    text-align: center;
}

/* ページ送りを横並びに */
.pagination li{
    display: inline-block;
    
}